article.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.larger {
    transform: scale(8);
    margin-right: 4em;
}

.task {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 1em;
    padding: 2em;
    border-radius: 20px;
    background-color: rgb(104, 118, 133);
}

.task:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.2s ease;
    cursor: pointer;
}

.task__description {
    display: flex;
    justify-content: space-between;
}

.task__head {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.routinesLink {
    cursor: pointer;
}
