.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
    padding: 2em;
    border-radius: 20px;
    background-color: rgb(104, 118, 133);
}

.task:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.2s ease;
    cursor: pointer;
}

.task__description {
    display: flex;
    justify-content: space-between;
}

.task__head {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
