form {
    margin: 3em 30em 0em 30em;
    padding: 2em;
    border-radius: 30px;
    background-color: lightslategrey;
}

body {
    background-color: rgb(87, 99, 112);
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
}

button-primary {
    margin: 2em;
}
