article.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.larger {
    transform: scale(8);
    margin-right: 4em;
}

.celebTask {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 1em;
    padding: 2em;
    border-radius: 20px;
    background-color: rgb(104, 118, 133);
}

.celebTask__description {
    display: flex;
    justify-content: space-between;
}

.celebTask__head {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.routinesLink {
    cursor: pointer;
}
